<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehzyil.mapper.FriendMapper">
    <select id="selectFriendVOList" resultType="com.ehzyil.model.vo.FriendVO">
        SELECT id, `name`, color, url, avatar, introduction
        FROM t_friend

    </select>
</mapper>
