<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehzyil.mapper.TagMapper">
    <select id="selectTagVO" resultType="com.ehzyil.model.vo.front.TagVo">
        select t.id, t.tag_name, count(a.id) tagCount
        from t_tag t
                 left join t_article_tag tat on t.id = tat.tag_id
                 left join (select id from t_article) a on tat.article_id = a.id
        group by t.id, t.tag_name
    </select>

    <select id="selectTagOptionList" resultType="com.ehzyil.model.vo.front.TagOptionVO">
        select id, tag_name
        from t_tag
    </select>

    <select id="selectTagBackVO" resultType="com.ehzyil.model.vo.admin.TagBackVO">
        SELECT t.id, t.tag_name, COUNT(tat.article_id) as article_count, t.create_time
        FROM t_tag t
        LEFT JOIN t_article_tag tat
        ON t.id = tat.tag_id
        <where>
            <if test="keyword != null">
                tag_name like concat('%',#{keyword},'%')
            </if>
        </where>
        GROUP BY t.id
        ORDER BY t.id DESC
        LIMIT #{limit},#{size}
    </select>

    <select id="selectTagList" resultType="com.ehzyil.domain.Tag">
        select id, tag_name from t_tag where tag_name in
        <foreach collection="tagNameList" item="tagName" open="(" separator="," close=")">
            #{tagName}
        </foreach>
    </select>

    <select id="selectTagNameByArticleId" resultType="java.lang.String">
        SELECT tag_name
        FROM t_tag t
                 INNER JOIN t_article_tag tat ON t.id = tat.tag_id
        WHERE article_id = #{articleId}
    </select>
</mapper>
